h1 {
   background-image: url("photos/pattern.jpg");
   text-align: center;
   font-size: 100px;
   color: Khaki;
}

h2 {
    text-align: left;
    font-size: 32px;
    color: white;
    font-family: Helvetica;
}

.brushes {
	background-color: mediumspringgreen;
}

.frames {
	background-color: lightcoral;
}

.Paint {
	background-color: skyblue;
}

.price {
	font-family: Helvetica;
	font-weight: bold;
	color: blue;
}